/* banner Topo */

.bannerTopoIndex {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
}

.bannerTopoIndex {
  align-items: center;
}

.bannerTopoIndex section h1 {
  color: #ff4081;
  font-size: 3em;
  padding-bottom: 1rem;
}

.bannerTopoIndex section :nth-child(2) {
  font-size: 1.5em;
  padding-bottom: 1rem;
}

.bannerTopoIndex section :nth-child(3) {
  color: #ff4081;
  width: 150px;
  padding: 0.75rem;
  border: 1px solid #ff4081;
  border-radius: 50px;
}

.bannerTopoIndex section img {
  max-height: 450px;
  padding-top: 3rem;
}

/* cursos */

.cursos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 5%;
  background-color: #f6f6f6;
}

.cursos section {
  text-align: center;
  width: 300px;
}

.cursos section img {
  max-height: 250px;
}

.cursos section :nth-child(2) {
  padding: 1rem 0;
  color: #ff4081;
  font-weight: 700;
}

.cursos section :nth-child(3) {
  font-size: 0.75em;
  text-align: center;
  padding: 0 5rem;
}

.cursos section a {
  text-decoration: none;
}

.cursos section .btnComecar {
  margin: 1rem auto;
  max-width: 40%;
  font-size: 0.75em;
  background-color: #ff4081;
  color: #fff;
  border-radius: 50px;
  padding: 0.75rem;
}

/* sobre */

.sobre {
  padding: 50px 5%;
}

.sobre h2 {
  color: #009688;
  margin: 3rem 0;
}

.sobre article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comentariosCard {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 2rem 0;
}

.comentariosCard img {
  max-height: 75px;
  align-items: center;
}

.comentariosCard :nth-child(2) {
  padding-left: 1rem;
  max-width: 80%;
}

.comentariosCard section :nth-child(2) {
  padding-left: 0;
}

/* conteudo */
.conteudo {
  padding: 40px 5%;
  background-color: #f6f6f6;
}

.conteudo h2 {
  color: #009688;
  padding: 2rem 0;
}

.conteudo a {
  text-decoration: none;
}

.maisParaVoce {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.maisParaVoce section {
  padding: 20px;
  width: 300px;
}

.maisParaVoce section div {
  height: 150px;
  width: 260px;
  background-color: #c4c4c4;
  margin-bottom: 1rem;
}

.maisParaVoce section h4 {
  color: #009688;
  font-size: 1.5em;
}

.maisParaVoce section p {
  max-width: 280px;
}

#todosPosts {
  margin: 2rem auto;
  text-align: center;
  width: 150px;
  font-size: 0.9em;
  color: #ff4081;
  border: 1px solid #ff4081;
  border-radius: 50px;
  padding: 0.5rem;
}

@media screen and (max-width: 768px) {

  .bannerTopoIndex {
    padding: 20px 5%;
  }

  .bannerTopoIndex section img{
    display: none;
  }
  
}